<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{ :: body}, 'Form')}">
<head>
  <meta charset="UTF-8"/>
  <title>Show</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="row justify-content-sm-center">
  <div class="col-sm-10">
    <form id="form-validation2" th:object="${recipe}" th:action="@{/recipe}" method="post" novalidate>
      <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
        <p>Please Correct Errors Below</p>
      </div>
      <input type="hidden" th:field="*{id}"/>
      <div class="card">
        <div class="bg-primary text-white">
          <h5 class="card-title pl-2 pt-2">Edit Recipe Information</h5>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-sm-3" th:class="${#fields.hasErrors('description')} ? 'col-sm-3 has-error' : 'col-sm-3'">
              <label for="description" class="col-form-label">Recipe Description</label>
              <input type="text" id="description" class="form-control" th:field="*{description}"/>
              <span class="form-text" th:if="${#fields.hasErrors('description')}">
                <ul>
                  <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                </ul>
              </span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3">
              <label class="col-form-label">Categories:</label>
            </div>
            <div class="col-sm-9">
              <div class="radio">
                <label class="col-form-label">
                  <input type="checkbox" value=""/> Cat 1
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3" th:class="${#fields.hasErrors('prepTime')} ? 'col-sm-3 has-error' : 'col-sm-3'">
              <label for="prepTime" class="col-form-label">Prep Time:</label>
              <input type="number" id="prepTime" class="form-control" th:field="*{prepTime}"/>
              <span class="form-text" th:if="${#fields.hasErrors('description')}">
                <ul>
                  <li th:each="err : ${#fields.errors('prepTime')}" th:text="${err}"></li>
                </ul>
              </span>
            </div>
            <div class="col-sm-3" th:class="${#fields.hasErrors('cookTime')} ? 'col-sm-3 has-error' : 'col-sm-3'">
              <label for="cookTime" class="col-form-label">Cooktime:</label>
              <input type="number" id="cookTime" class="form-control" th:field="*{cookTime}"/>
              <span class="form-text" th:if="${#fields.hasErrors('cookTime')}">
                <ul>
                  <li th:each="err : ${#fields.errors('cookTime')}" th:text="${err}"></li>
                </ul>
              </span>
            </div>
            <div class="col-sm-3">
              <label for="difficulty" class="col-form-label">Difficulty:</label>
              <select class="form-control" id="difficulty" th:field="*{difficulty}">
                <option value="Easy" th:each="difficultyValue : ${T(com.nutfreedom.mvc.entity.Difficulty).values()}"
                        th:value="${difficultyValue.name()}"
                        th:text="${difficultyValue.name()}">Easy
                </option>
              </select>
            </div>
          </div>
          <div class=" form-group row">
            <div class="col-sm-3" th:class="${#fields.hasErrors('servings')} ? 'col-sm-3 has-error' : 'col-sm-3'">
              <label for="servings" class="col-form-label">Servings:</label>
              <input type="number" id="servings" class="form-control" th:field="*{servings}" th:classerror="has-error"/>
              <span class="form-text" th:if="${#fields.hasErrors('servings')}">
                <ul>
                  <li th:each="err : ${#fields.errors('servings')}" th:text="${err}"></li>
                </ul>
              </span>
            </div>
            <div class="col-sm-3">
              <label for="source" class="col-form-label">Source:</label>
              <input type="text" id="source" class="form-control" th:field="*{source}"/>
            </div>
            <div class="col-sm-3" th:class="${#fields.hasErrors('url')} ? 'col-sm-3 has-error' : 'col-sm-3'">
              <label for="url" class="col-form-label">Url:</label>
              <input type="text" id="url" class="form-control" th:field="*{url}"/>
              <span class="form-text" th:if="${#fields.hasErrors('url')}">
                <ul>
                  <li th:each="err : ${#fields.errors('url')}" th:text="${err}"></li>
                </ul>
              </span>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="card">
        <div class="bg-primary text-white">
          <div class="row align-items-center">
            <div class="col-sm-11">
              <h5 class="card-title pl-2 pt-2">Ingredients</h5>
            </div>
            <div class="col-sm-1 pl-1">
              <a class="btn btn-success" href="#" role="button">Edit</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <ul>
                <li th:each="ingredient : ${recipe.getIngredients()}"
                    th:text="${ingredient.getAmount() + ' ' +
                      ingredient.getUnitOfMeasure().getDescription() + ' ' +
                      ingredient.getDescription()}">1 Teaspoon of Sugar
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="card">
        <div class="bg-primary text-white">
          <h5 class="card-title pl-2 pt-2">Directions</h5>
        </div>
        <div class="card-body">
          <div class="row form-group">
            <div class="col-sm-12">
              <textarea class="form-control" rows="3" th:field="*{directions}" title="directions"></textarea>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="card">
        <div class="bg-primary text-white">
          <h5 class="card-title pl-2 pt-2">Notes</h5>
        </div>
        <div class="card-body">
          <div class="row form-group">
            <div class="col-sm-12">
              <textarea class="form-control" rows="3" th:field="*{notes.recipeNotes}" title="notes"></textarea>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="card-footer text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
<script>
  $(function () {
    $("input[type='number']").keydown(function (e) {
      const keycode = e.keyCode;
      if (keycode === 69 || keycode === 107 || keycode === 109 || e.key === '-') {
        e.preventDefault();
      }
    });
  });
</script>
</body>
</html>