<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="include (template)">
  <head>
    <meta charset="UTF-8"/>
    <title>Spring boot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"/>
    <script src="/webjars/jquery/3.0.0/jquery.min.js" th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script src="/webjars/popper.js/1.14.1/umd/popper.min.js" th:src="@{/webjars/popper.js/1.14.1/umd/popper.min.js}"></script>
    <script src="/webjars/bootstrap/4.1.1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
  </head>
  <body>
    <div class="container" th:include="${template}"></div>
  </body>
</html>